
main {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  text-align: center;
}

.back-icon img {
  height: auto;
  width: 3rem;
  padding-bottom: 1rem;
  opacity: 20%;
  z-index: -2;
  pointer-events: none;
}

.back-icon {
  display: none;
  position: absolute;
  z-index: -99;
  pointer-events: none;
  top: -7rem;
}

.flip-card:hover .back-icon {
  display: block !important;
  left: calc(50vw - 1rem);
}

.flip-card {
  perspective: 3200px;
  margin: auto;
  top: 10vh;
}


body {
  margin: 0;
  height: 100vh;
  background: rgb(61,60,70);
  background: linear-gradient(0deg, rgba(61,60,70,1) 1%, rgba(244,240,230,1) 50%, rgba(244,240,230,1) 63%);
}

