
main {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.flip-card {
  perspective: 3200px;
  margin: auto;
  top: 10vh;
}


body {
  margin: 0;

  background-color: rgb(244, 240, 230);
}

